<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Encoding" value="gb2312" />
        <!--文件编码-->
    <add key="FilePath" value="address.csv" />
        <!--数据文件路径-->
    <add key="TimeOut" value="200" />
        <!--ping超时时间（毫秒）-->
    <add key="AutoPoll" value="False" />
        <!--自动开始-->
    <add key="PollTime" value="60" />
        <!--自动检测时间间隔（秒）-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>